@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    --tw-border-image: linear-gradient(90deg, #ff9463 0%, #a51cf5 96.4%);
    border-width: 1px;
    border-radius: 100%;
    border-image: var(--tw-border-image) 1;
  }
}

.wobble-image {
  width: 437px;
  margin-left: auto;
  margin-right: auto;
  z-index: -8;
  transition: transform 0.2s;
  filter: grayscale(0.1);
}
